@import '~bootstrap/dist/css/bootstrap.min.css';
.app {
  color: red;
  padding: 0;
  img {
    border: 1px solid red;
  }
}
footer {
  color: green;
}
.app {
  color: #999;
  p {
    color: #900;
  }
}